* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #000; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 0; 
  min-height: 100vh;
}

.img-container {
  aspect-ratio: 1 / 1; 
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease;
}

.img-container img:hover {
  transform: scale(1.05);
  z-index: 1; 
}


.modal {
  background: rgba(0, 0, 0, 0.95); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; 
  pointer-events: none; 
  transition: 0.25s ease-out;
  z-index: 999;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.full-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5); 
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-height: 80vh; 
  max-width: 90%;  
  object-fit: contain;
}

.modal.open .full-image {
  transform: translate(-50%, -50%) scale(1); 
}