
img {
    width: 100%;            
    height: auto;           
    transition: transform 0.3s ease; 
    cursor: pointer;     
}


img:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
    opacity: 0.9;           
}


body {
    background-color: #f8f9fa; 
}